#desktopAbilities{
    display:inline;
}
#mobileAbilities{
    display: none;
}

.skillText {
  font-family: "typewriter";
  font-weight: normal;
  padding-top: 10px;
  font-size: 20px;
}

.container {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  margin-top: -20px;

}

.star {
  width: 20px;
  height: 20px;
}

#abilities-section {
  max-width: 100%;
  padding-bottom: 150px;
  padding-top: 50px;
  text-align: center;
  background-color: #FFFAF0;
  margin-top: -20px;
}

.sectionDivider2 {
  border: 0;
  margin-top: 50px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgba(0, 0, 255, 0.75), rgba(0, 0, 255, 0));
}

.skillHeading {
  font-size: 22px;
  font-weight: bold;
  float: left;
  width: 200px;
}

.skillHeading2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto !important;
  display: inline-block;
  width: 200px;
}

.skillHeading3 {
  font-size: 22px;
  font-weight: bold;
  float: right;
  width: 200px;
}

.subHeader {
  color: #2C9C91;
  font-size: 25px;
}

#skillsLogo {
  padding-bottom: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#toolsLogo {
  padding-bottom: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.comment {
  color: blue;
}
