.headingRow {
  /* font-weight: bold;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0; */
}
@font-face {
  font-family: typewriter;
  src: url(Fonts/rm_typerighter.ttf);
}

.skillText {
  font-family: "typewriter";
  font-weight: normal;
  padding-top: 10px;
  font-size: 20px;
}

.container {
  padding-top: 50px;
  width:100%;
  text-align:center;
}

.star {
  width: 20px;
  height: 20px;
}

.abilities-section {
  padding-bottom: 300px;
  padding-top: 50px;
  text-align: center;
  background-color:#FFFAF0;
  margin-top: -20px;
}

.sectionDivider2 {
    border: 0;
    margin-top: 50px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgba(0, 0, 255, 0.75), rgba(0, 0, 255, 0));
}

.skillHeading {
  margin-top: -20px;
  font-size: 22px;
  font-weight: bold;
  float: left;
  width:200px;
}
.skillHeading2 {
  font-size: 22px;
  margin-top: -10px;
  font-weight: bold;
  margin:0 auto !important;
  display:inline-block;
  width:200px;
}
.skillHeading3 {
  margin-top: -10px;
  font-size: 22px;
  font-weight: bold;
  float: right;
  width:200px;
}

.subHeader{
  color: #2C9C91;
  font-size: 25px;
}
.skillsLogo{
  padding-bottom: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.toolsLogo{
  padding-bottom: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.subHeader2{
  color: #2C9C91;
  font-size: 25px;
}

.toolsSection {
  text-align: left;
  font-size: 20px;
}
