@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}


.about-header {
  font-family: MontserratBold;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: black;
  margin-left: 120px;

}

.about-section {
  text-align: center;
  padding-bottom: 500px;
  padding-top: 50px;
}
