.about-header {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: black;
  margin-left: 120px;

}

.about-section {
  text-align: center;
  padding-bottom: 500px;
  padding-top: 50px;
}
