
#about-section {
  padding-bottom: 300px;
  padding-top: 50px;
  text-align: center;
  background-color:#F9FBFD;
  margin-top: -20px;
  max-width: 1500px;
}
#about-text {
  max-width: 1500px;
  margin: 0 auto;
  display: table;
}

#text-div {
  font-family: MontserratReg;
  float: left;
  font-size: 17px;
  text-align: left;
  max-width: 500px;
  
}

#contactImages  {
  font-family: MontserratReg;
  font-size: 14px;
  padding-top: 5px;
  clear: right;
  text-align: center;
  justify-content: space-around;

}

#contactImageLI {
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  height:40px;
  width:40px;
}
#contactImageGH {
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  height:40px;
  width:40px;
}
#contactImageML {
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  height:40px;
  width:40px;
}


#rightContainer{
  text-align:right;
  width:400px;
  float: right;
}

#imageme{
  height: 100%;
  width: 100%;
  float: right;
}

#profileSection{
  font-family: MontserratBold;
  padding-top: 43px;
  margin: auto -42px 0;
  max-width: 1000px;
}

.profileHeader{
  color: #006400;
  font-family: MontserratBold;
  font-size: 16px;
}

ul li{
  padding-right: 30px;
  display: inline;
}
#profileHeaderMobile{
    display: none;
}
#profileHeaderDesktop{
    display: block;
}
