@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Regular.ttf);
}

.bio{
  font-family: MontserratReg;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  color: white;
  text-align: center;
  margin: 0 auto;
  top: 10%;
  padding-top: 300px;
  left: 33%;

}

.punc{
  color: yellow;
}

.tagline {
  font-weight: lighter;
  font-size: 16px;
}
