@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Regular.ttf);
}

#bio{
  font-family: MontserratReg;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  top: 10%;
  padding-top: 800px;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.punc{
  color: yellow;
}

.tagline {
  font-weight: lighter;
  font-size: 16px;
}
