
#bio {
  font-family: MontserratReg;
  font-size: 47px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  top: 10%;
  padding-top: 600px;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#welcome {
  font-size: 45px;
}

.punc {
  color: yellow;
}

#tagline {
  font-weight: lighter;
  font-size: 16px;
}