#desktopContact{
    display:inline;
}
#mobileContact{
    display: none;
}

#contact-section {
/*  max-width: 1000px;  */
  padding-bottom: 300px;
  padding-top: 50px;
  text-align: center;
  background-color: #FFFAF0;
  margin-top: -20px;
}

#contact-text {
  padding-top: 70px;
  max-width: 1000px;
  margin: 0 auto;
  display: table;
  font-family: MontserratReg;
  font-size: 19px;
}

#contactDetails {
  font-family: MontserratBold;
  font-size: 18px;
  padding-top: 43px;
  padding-left: 20px;
  margin: auto 0 0;
  max-width: 1000px;
  vertical-align: middle;
}

#ORDivider {
  font-family: MontserratBold;
  font-size: 24px;
  margin-right: 25px;
}
