@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Reg.ttf);
}



.education-section {
  padding-bottom: 320px;
  padding-top: 50px;
  text-align: center;
  background-color: #FFF5EE;
  margin-top: -20px;
}

.col1Header{
  font-family: MontserratBold;
  font-size: 9px;
}
.col2Header{
  font-family: MontserratBold;
  font-size: 8px;
}

.col1{
  margin: 0 auto;
  padding-left: 180px;
  width: 350px;
  float:left;
  text-align: left;
}
.col2{
  text-align: left;
  width: 350px;
  margin-right: 70px;
  float:right;
}

.row2{
  padding-top: 250px;
}

.row3{
  padding-top: 200px;
}

.educationText {
  font-size: 12px;
}

.vl {
  border-left: 6px solid green;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0.5;
  margin-top: 50.7cm;
}

.circle {
  top: 0;
  position: absolute;
  left: 50%;
  margin-top: 51.3cm;
  height: 25px;
  width: 25px;
  margin-left: -10px;
  background-color: blue;
  opacity: 0.6;
  border-radius: 50%;
}
.circle2 {
  position: absolute;
  margin-top: 6.7cm;
  height: 25px;
  width: 25px;
  margin-left: -12.58px;
  background-color: blue;
  border-radius: 50%;
}

.circle3 {
  position: absolute;
  margin-left: -12.58px;
  margin-top: 11.95cm;
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
}
