@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Reg.ttf);
}



.education-section {
  padding-bottom: 320px;
  padding-top: 50px;
  text-align: center;
  background-color: #FFFAF0;
  margin-top: -20px;
}

.col1Header{
  font-family: MontserratBold;
  font-size: 8px;
}
.col2Header{
  font-family: MontserratBold;
  font-size: 8px;
}

.col1{
  margin: 0 auto;
  width: 350px;
  float:left;
  text-align: left;
}
.col2{
  text-align: left;
  width: 350px;
  margin-right: 205px;
  float:right;
}

.row2{
  padding-top: 300px;
}

.row3{
  padding-top: 240px;
}

.educationText {
  font-size: 13px;
  width:560px;
}

.vl {
  border-left: 3px solid #1C3863;
  height: 690px;
  position: absolute;
  left:36%;
  margin-right: -50%;
  margin-top: -200px;
  transform: translate(-50%, -50%);
}

.centreContainer {
  opacity: 1;
  position: relative;
}

.bookImage {
  height: 40px;
  width: 40px;
  left:36%;
  margin-top: 20px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.gradimage {
  left:36%;
  margin-top: -521px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
}
.bookImage2 {
  left:36%;
  margin-top: -220px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
}

.info {
  color: green;
  font-size: 12px;

}
.pin {
  width: 15px;
  height: 15px;
}
.link {
  width: 15px;
  height: 15px;
}
