@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Reg.ttf);
}


.row2exp{
  padding-top: 200px;
}

.row3exp{
  padding-top: 240px;
}


.experience-section {
  padding-bottom: 300px;
  padding-top: 50px;
  text-align: center;
  background-color:#F9FBFD;
  margin-top: -20px;
}

.experienceSection-text {
  font-family: MontserratReg;
}

.hl {
  border-left: 3px solid #1C3863;
  height: 590px;
  position: absolute;
  left:36%;
  margin-right: -50%;
  margin-top: -150px;
  transform: translate(-50%, -50%);
}

.timelineCircle1 {
  left:36%;
  margin-top: -420px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.timelineCircle2 {
  left:36%;
  margin-top: -220px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.timelineCircle3 {
  left:36%;
  margin-top: 20px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.keySkill{
  color: black;
  font-weight: bold;
}
