@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Reg.ttf);
}

.experience-section {
  padding-bottom: 300px;
  padding-top: 50px;
  text-align: center;
  background-color:#FFFAF0;
  margin-top: -20px;
}

.experienceSection-text {
  font-family: MontserratReg;
}

.centreContainer {
    position: relative;
}

.hl {
  border-left: 3px solid #1C3863;
  height: 600px;
  position: absolute;
  left:38%;
  margin-right: -50%;
  margin-top: -150px;
  transform: translate(-50%, -50%);
}

.timelineCircle1 {
  left:38%;
  margin-top: -430px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.timelineCircle2 {
  left:38%;
  margin-top: -225px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
.timelineCircle3 {
  left:38%;
  margin-top: 20px;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.keySkill{
  color: black;
  font-weight: bold;
}
