@font-face {
    font-family: MontserratReg;
    src: url(../Fonts/Montserrat-Reg.ttf);
  }

@font-face {
    font-family: MontserratBold;
    src: url(../Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontserratThin;
    src: url(../Fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: typewriter;
  src: url(../Fonts/larabiefont-free.regular.ttf);
}
  
.section-text {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    font-family: MontserratReg;
}

.section-header {
    font-family: MontserratThin;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    color: black;
}

.sectionDivider {
    height: 12px;
    border: 0;
    width: 28cm;
    box-shadow: inset 0 12px 12px -12px rgba(192,192,192, 0.5);
}
.centreContainer {
    opacity: 1;
    position: relative;
  }
  