/* Add a black background color to the top navigation */

/* Style the links inside the navigation bar */
.nav-text {
  float: left;
  font-family: "Montserrat";
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  }

.topnav .nav-text{
	color:rgba(0,0,0,1);
}

.topnav:hover .nav-text{
	color:rgba(0,0,0,.1);
}

.nav-text:hover{
	color:rgba(0,0,0,1) !important;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
