@media only screen and (max-width: 1000px) {
    .nav-text {
      display: inline-block;
      float: right;
      font-family: MontserratReg;
      font-size: 15px;
      padding-top: 50px;
      padding-right: 30px;
      margin-right: 0;
    }
    .name-text{
      display: inline-block;
      float:left;
      font-family: MontserratBold;
      padding: 14px 16px;
      font-size: 20px;
      color: white;
      padding-top: 40px;
    }
    #welcome {
        font-size: 18px;
    }
    #nametag{
        font-size: 40px;
    }

}
