@media only screen and (max-width: 1000px) {
    .nav-text {
    display: inline-block;
      font-family: MontserratReg;
      font-size: 16px;
      padding-top: 30px;
      padding-right: 15px;
    }
    .topnav{
        margin-left:-20px;
        text-align: center;
    }
    .name-text{
      font-family: MontserratBold;
      text-align: center;
      padding: 14px 16px;
      font-size: 32px;
      color: white;
    }
    #welcome {
        font-size: 18px;
    }
    #nametag{
        font-size: 36px;
    }
    
/*
    #about-text {
      width: 500px;
      margin: 0 auto;
      display: table;
    }
*/
    #profileHeaderMobile{
        display: block;
    }
    #profileHeaderDesktop{
        display: none;
    }
    
}
