@media only screen and (max-width: 1000px) {
    #desktopContact{
        display:none;
    }
    #mobileContact{
        display: inline;
    }
    #desktopProjects{
        display:none;
    }
    #mobileProjects{
      display: inline-block;
    }
    #desktopAbilities{
        display:none;
    }
    #mobileAbilities{
      display: inline-block;
    }
    #contact-section{
        height: 400px;
    }
    #contact-text {
      padding-top: 150px;
      max-width: 1000px;
      display: table;
      font-family: MontserratReg;
      font-size: 16px;
    }
    .MobInfo{
        margin-bottom: 10px;
    }
    .MobprofileHeader{
      float: left;
      color: #006400;
      font-family: MontserratBold;
      font-size: 13px; 
    }
    #contactDetails{
      padding-top: 10px;
      padding-left: 0px;
      float: left;
      font-family: MontserratBold;
      font-size: 13px;
      max-width: 1000px;
    }
    #projects-section {
      height: 1000px;
      padding-bottom: 230px;
      padding-top: 20px;
      text-align: center;
      background-color:#F9FBFD;
      margin-top: -20px;
    }

    #projects-section-text {
      text-align: center;
      margin: 0px 15px 0px 15px;
      max-width: 1000px;
      font-family: MontserratReg;
    }
    .keySkills{
        font-family: Montserrat;
        color: #0000d8;
        text-align: left;
        font-size: 13px;
        padding-bottom: 4px;
    }

    .Projectrow2{
        display: inline-block;    
        padding-bottom: 40px;
    }
    
        
    div.mobimg1{
        vertical-align: top;
        display: inline-block;
        text-align: left;
        width: 300px;
        margin-right: 5px;

    }
    
    div.mobimg2{
        vertical-align: top;
        display: inline-block;
        text-align: left;
        width: 300px;
        margin-left: 5px;
    }

    .caption {
        font-family: Montserrat;
        color: #5E9516;
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 19px;
        display: block;
        text-align: left;
    }
    
    .disspic2{
      width: 300px;
      height: auto;
      border-radius: 10px;
    }
    .vahlpic{
      width: 300px;
      height: auto;
      border-radius: 10px;
    }
    
    .disspic{
      width: 300px;
      height: auto;
      border-radius: 10px;
    }
    
    .mobProjText{
        text-align: left;
        font-size: 13px;
    }


    .container {
      padding-top: 50px;
      width: 100%;
      text-align: center;
      margin-top: -20px;
      display: inline-block;

    }

    .headingRow{
        display: block;
    }
    .skillHeading {
      padding-top: 50px;
      font-size: 24 px;
      font-weight: bold;
      width: 100%;
    }

    .skillHeading2 {
      padding-top: 50px;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
    }

    .skillHeading3 {
      font-size: 24px;
      font-weight: bold;
      width: 100%;
    }
    
    .skillHeadingmobSoftware {
      font-size: 24px;
      font-weight: bold;
      width: 100%;
    }

    .skillHeading2mobSoftware {
      padding-top: 50px;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
    }

    .skillHeading3mobSoftware {
      padding-top: 50px;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
    }
    
    .skillHeading3mobSoftware {
      font-size: 22px;
      font-weight: bold;
      width: 100%;
    }
    .skillText {
      font-family: "typewriter";
      font-weight: normal;
      padding-top: 10px;
      font-size: 18px;
    }

    .hl {
      border-left: 3px solid #1C3863;
      height: 1290px;
      position: absolute;
      left:-13%;
      margin-right: -50%;
      margin-top: 800px;
      transform: translate(-50%, -50%);
    }


    .timelineCircle1 {
      left:-13%;
      margin-top: 150px;
      margin-right: -50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
    }

    .timelineCircle2 {
      left:-13%;
      margin-top: 600px;
      margin-right: -50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
    }
    .timelineCircle3 {
      left:-13%;
      margin-top: 1120px;
      margin-right: -50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
    }

    .col2ExperienceMobile{
      text-align: left;
      width: 350px;
      float:right;
      -webkit-transform:scale(0.8);
      -moz-transform:scale(0.8);
      -ms-transform:scale(0.8);
      transform:scale(0.8);
    }

    .mobRightContainer{
        width: 350px;
        float:right;
    }
    .mobLeftContainer{
        padding-top: 100px;
        width: 350px;
        float:left;
    }
    #desktopExperience{
        display:none;
    }
    #mobileExperience{
        display: inline;
    }
    #desktopview{
        display:none;
    }
    #mobileview{
        display: inline;
    }
    
    .experienceMob-section-text {
        text-align: center;
        margin: 0 auto;
        max-width: 1000px;
        height: 750px;
        font-family: MontserratReg;
    
    }
    #education-section {
      padding-bottom: 100px;
      padding-top: 50px;
      text-align: center;
      background-color: #FFFAF0;
      margin-top: -20px;
    }
    #experience-section {
      padding-bottom: 90px;
      padding-top: 50px;
      text-align: center;
      background-color: #FFFAF0;
      margin-top: -20px;
    }
    
    .mobilespacing1{
        padding-top: 10px;
    }
    .mobilespacing2{
        padding-top: 25px;
    }
    .educationText{
      padding-top: 0px;
    }
    .colgradeheaderMob{
      visibility: visible;
      display: block;
    }
    .col2HeaderMob{
      font-family: MontserratReg;
      font-size: 7px;
      color: #3d8ff5;
      visibility: visible;
      display: block;
    }
    .colgradeheader{
      visibility: hidden;
      display: none;
    }

    .col2Header{
      visibility: hidden;
      display: none;
    }
    #bookImage {
      height: 50px;
      width: 50px;
      left:113%;
      margin-top: 1175px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
    #gradimage {
      left:113%;
      margin-top: 150px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
    }
    #bookImage2 {
      left:113%;
      margin-top: 700px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 50px;
    }

    .mobileEdu-text{
        max-width: 1000px;
        height: 1000px;
    }
    #vl {
      border-left: 3px solid #1C3863;
      height: 1400px;
      position: absolute;
      left:113%;
      margin-right: -50%;
      margin-top: 820px;
      transform: translate(-50%, -50%);
    }
    .centreContainer{
        margin: 0 auto;
        margin-top: -58px;
        position: relative;
        width: 350px;
        text-align: left;
        -webkit-transform:scale(0.7);
        -moz-transform:scale(0.7);
        -ms-transform:scale(0.7);
        transform:scale(0.7);
    }
    .col1{
        margin: 0 auto;
        width: 350px;
        float:left;
        text-align: left;
        margin-top: -25px;
        -webkit-transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    }
    .col2{
        margin-top: -45px;
        width: 350px;
        text-align: left;
        float:left;
        -webkit-transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    }
    #about-section 
    {
      padding-bottom: 50px;
      padding-top: 50px;
      text-align: center;
      background-color:#F9FBFD;
      margin-top: -20px;
      max-width: 1500px;
    }
    #profileSection{
      font-family: MontserratBold;
      padding-top: 0px;
      padding-left: 3px;
      padding-bottom: 20px;
      max-width: 1000px;
      font-size: 15px;
      text-align: left; 
      

    }
    .profileHeader{
      color: #006400;
      font-family: MontserratBold;
      font-size: 15px;
}
    .section-header {
        font-family: MontserratThin;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        color: #1a9c95;
        border: 1.8px solid #1a9c95;
        padding: 4px;
    }
    .nav-text {
      display: inline-block;
      visibility:visible;
      font-family: MontserratReg;
      font-size: 16px;
      padding-top: 30px;
      padding-right: 16px;
    }
    .topnav{
        float: none;
        margin-left:-20px;
        text-align: center;
    }
    #mobileNavBarIcon{
        background-size: cover;
        display: none;
        visibility: hidden;
        position: relative;
        left:16px;
        margin-bottom: -9px;
        width: 42px;
        height: 42px;
    }
    .name-text.mobileScrolled #mobileNavBarIcon{
        display:inline-block;
        visibility:visible;
    }
    
    .MobileNavLine {
        margin-top: 20px;
        align-content: center;
        height: 5px;
        border: 0;
        max-width: 8cm;
        box-shadow: inset 0 12px 12px -12px rgba(192,192,192, 0.5);
    }
    .name-text{
      font-family: MontserratBold;
      text-align: center;
      font-size: 32px;
      color: white;
    }
    
    .nav-text.mobileScrolled {
      font-size: 14px;
      margin-right: 30px;
      margin-bottom: 25px;
    }
    
    .name-text.mobileScrolled {
      margin-left: -30px;
      font-size: 32px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    #welcome {
        font-size: 18px;
    }
    #nametag{
        font-size: 36px;
    }
    
    #profileHeaderMobile{
        display: block;
    }
    #profileHeaderDesktop{
        display: none;
    }
    #row2{
      padding-top: 240px;
    }

    #row3{
      padding-top: 240px;
    }
    
}
