
@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-bold.ttf);
}

@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-regular.ttf);
}

.nav-text {
  display: inline-block;
  float:right;
  font-family: MontserratReg;
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
  padding-right: 30px;
  margin-right: 0;

}

.name-text{
  float:left;
  font-family: MontserratBold;
  padding: 14px 16px;
  font-size: 34px;
  font-weight: bold;
  color: white;
  padding-top: 40px;
}

.maindiv{
  background-image: url('images/background.jpg');
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixedNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-text.scrolled {
  margin-right: 50px;
}

.name-text.scrolled {
  display:inline-block;
  font-size: 25px;
}

.fixedNav.scrolled {
  background-color: green !important;
  transition: all 200ms linear;
}

.fixedNav.scrolled .nav-text {
  padding-top: 2px !important;
  transition: all 500ms linear;
}

.fixedNav.scrolled .name-text {
  padding-top: 2px !important;
  transition: all 500ms linear;
}


.topnav .nav-text{
  color:rgba(255,255,255,1);
  -webkit-transition: color .5s ease-in;
  -moz-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.topnav:hover .nav-text{
  color:rgba(255,255,255,.1);
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.nav-text:hover{
  color:rgba(255,255,255,1) !important;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
