.nav-text {
  display: inline-block;
  float: right;
  font-family: MontserratReg;
  font-size: 25px;
  padding-top: 50px;
  padding-right: 30px;
  margin-right: 0;

}

.name-text{
  display: inline-block;
  float:left;
  font-family: MontserratBold;
  padding: 14px 16px;
  font-size: 34px;
  color: white;
  padding-top: 40px;
}

.maindiv{
  background-image: url('images/background.jpg');
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixedNav {
  position: fixed;
  top: 0;
  width: 98.66%;
  z-index: 1;
}

.nav-text.scrolled {
  font-size: 20px;
  margin-right: 30px;
}

.name-text.scrolled {
  margin-left: 70px;
  font-size: 25px;
  margin-top: -3px;
}

.fixedNav.scrolled {
  right:10;
  background-color: #525252 !important;
  transition: all 700ms linear;
}

.fixedNav.scrolled .nav-text {
  margin-right: 0px;
  padding-top: 2px !important;
  transition: padding-top .7s, padding-right 700ms ease .5s;
}

.fixedNav.scrolled .name-text {
  margin-right: 0px;
  padding-top: 2px !important;
  transition: padding-top .7s, font-size .7s, margin-left .7s;
}


.topnav .nav-text{
  color:rgba(255,255,255,1);
  -webkit-transition: color .5s ease-in;
  -moz-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.topnav:hover .nav-text{
  color:rgba(255,255,255,.1);
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.nav-text:hover{
  color:rgba(255,255,255,1) !important;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

@media only screen and (max-width: 1000px) {
    .nav-text {
      display: inline-block;
      float: right;
      font-family: MontserratReg;
      font-size: 2px;
      padding-top: 50px;
      padding-right: 30px;
      margin-right: 0;

}
}