@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Reg.ttf);
}

#projects-section {
  padding-bottom: 170px;
  padding-top: 50px;
  text-align: center;
  background-color:#F9FBFD;
  margin-top: -20px;
}

.section-text {
    font-family: MontserratReg;
    width: 1000px;
}

.text-div {
  width: 500px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;

}

.innerRow{
  display: flex;
  width:100%
}

.rowNum{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: MontserratReg;
  font-size: 40px;
  padding-top: 60px;
}

.pageNum1 {
  padding-right: 50px;
}


.arrowleft{
  width: 70px;
}
#arrowright{
  width: 70px;
}

#img1 {
  margin-right: 70px;
}
#img1 img.top {
  position: relative;
}
#img1 img {
  position: absolute;
  height:310px;
  width:390px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#img1 img.top:hover {
  opacity:0.1;
}

.img2 img.top {
  position: relative;
}
.img2 img {
  position:absolute;
  height:310px;
  width:390px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.img2 img.top:hover {
  opacity:0;
}
/* 
.img3 {
  flex: 33.33%;

}

.img3 img.top {
  position: relative;
}

.img3 img {
  position:absolute;
  height:270px;
  width:320px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.img3 img.top:hover {
  opacity:0;
} */