@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratReg;
  src: url(Fonts/Montserrat-Reg.ttf);
}

#projects-section {
  padding-bottom: 500px;
  padding-top: 50px;
  text-align: center;
  background-color:#FFFAF0;
  margin-top: -20px;
}

.section-text {
    font-family: MontserratReg;
    margin: auto;
    width: 1000px;
}

.text-div {
  width: 500px;
}

.row {
  margin: 0 auto;
  display: table;
  text-align: center;
  padding-left: 40px;
}

.img {
    width:  300px;
    margin-right: 40px;
    display: inline-block;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
